* {
  margin: 0px;
  padding: 0px;
  /* display: inline-block; */
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-blend-mode: soft-light;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #82A7A6;
  /* background-blend-mode:screen; */
  background-image: linear-gradient(#00a8ff, yellow);


}

/* background {
  opacity: 50%;
} */

.meow {
  font-size: 55px;
  text-align: center;
  width: 305px;
  height: 99px;
  padding-top: 17px;

}

.speech-bubble {
  /* background-color: coral;
  opacity: 80%; */
  width: 305px;
  height: 99px;
}

.country-flag img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 71%;
  height: 30px;
  width: 30px;
  -ms-transform: skewY(20deg);
  /* IE 9 */
  transform: skewY(36deg);
}

.flag-box {
  height: 388px;
  width: 348px;
  background-repeat: no-repeat;
}

#flag {
  /* background-color: blue; */
  width: 356px;
  margin: 48px 36px 25px 173px;
  /* height: 250px; */

}

.boxMessage {
  /* margin: 251px 90px 10px 261px;
  -ms-transform: rotate(20deg);
  
  transform: rotate(170deg);
  opacity: 63%;
  width: 100px;
  font-weight: bold;
  text-align: center; */
  margin: 228px 115px -28px 226px;
  -ms-transform: rotate(20deg);
  transform: rotate(170deg);
  opacity: 63%;
  width: 182px;
  font-weight: bold;
  text-align: center;
}

.center {
  margin: auto;
  /* width: 50%;
  padding: 10px; */
}

.catBox {
  /* padding-top: 300px; */
  background-image: url('./images/catSpeak.box.png');
  height: 448px;
  width: 447px;
  background-repeat: no-repeat;



}

@media only screen and (max-width: 375px) {
  body {
    /* background-color: rgb(255, 180, 221); */
  }

  .catBox {
    background-image: url('./images/catSpeak.box.png');
    background-size: 272px;
    height: 273px;
    width: 295px;
    margin-top: 20px;
  }

  .meow {
    font-size: 38px;
    text-align: center;
    width: 184px;
    height: 95px;
    padding-top: 6px;
  }

  /* .boxMessage {
    margin: 103px 123px -2px 105px;
    -ms-transform: rotate(20deg);
    transform: rotate(170deg);
    opacity: 63%;
    width: 181px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
  } */

  .boxMessage {
    margin: 95px 123px -2px 116px;
    -ms-transform: rotate(20deg);
    transform: rotate(170deg);
    opacity: 63%;
    width: 143px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
  }




  #flag {
    /* background-color: blue; */
    width: 128px;
    margin: 9px 36px 25px 96px;
    /* height: 250px; */
  }

  .country-flag img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 71%;
    height: 22px;
    width: 18px;
    -ms-transform: skewY(20deg);
    transform: skewY(36deg);
  }
}